<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>86836305742-iq607333bd74ba7clpfkrbv286gn67kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86836305742-iq607333bd74ba7clpfkrbv286gn67kt</string>
	<key>API_KEY</key>
	<string>AIzaSyBNYTO2y-mp90Z3VWHynIbUvMV-yut6WBA</string>
	<key>GCM_SENDER_ID</key>
	<string>86836305742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.luigirussotest</string>
	<key>PROJECT_ID</key>
	<string>izwly-c6b98</string>
	<key>STORAGE_BUCKET</key>
	<string>izwly-c6b98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86836305742:ios:8f2d10ffab2a51d6</string>
	<key>DATABASE_URL</key>
	<string>https://izwly-c6b98.firebaseio.com</string>
</dict>
</plist>