.page {
    background-color: red;
    color: white;
}

.animationContainer{
    width: 200;
    height: 200;
}

#title{
    font-family: 'SignPainter','SignPainter-HouseScript';
    font-size: 50;
    height: 100; 
}

#subtitle{
    font-family: 'SignPainter','SignPainter-HouseScript';    
}

.h1{
    color: white;
    margin-top: 10%;
}

.h2{
    text-align: center;
}